.s-categories
  background-color: #eef7ff
  position: relative
  z-index: 2

.index-categories
  box-shadow: 0 20px 20px 0 #eef7ff
  .categories-wrap
    position: relative
    top: -40px
  .clouds-wrap
    position: absolute
    overflow: hidden
    width: 100%
    &-top
      top: -90px
      left: 0
    &-bottom
      bottom: -70px
      left: 0

.category-item
  background-color: #fff
  display: block
  border: 2px solid transparent
  border-radius: 5px
  margin-bottom: 30px
  position: relative
  box-shadow: 0 0 20px 3px rgba(#000, .1)
  overflow: hidden
  &-img
    position: absolute
    right: 0
    bottom: 0
  &-content
    position: relative
    z-index: 2
  &-title
    display: block
    font-family: "Oswald", sans-serif
    font-weight: 500
    position: relative
    z-index: 2
    color: $text
    margin-bottom: 5px
  &-link
    position: relative
    font-weight: 200
    color: $text
    .svg
      fill: $accent-red
      width: 13px
      height: auto
      transform: rotate(180deg)
      position: relative
      top: 3px
      margin-left: 8px
  &.large-item
    padding: 45px 35px
    height: 220px
    .category-item-title
      font-size: 24px
    .category-item-link
      font-size: 14px
  &.small-item
    padding: 30px 35px
    height: 185px
    .category-item-title
      font-size: 20px
    .category-item-link
      font-size: 12px
  &:hover
    border-color: $accent-green
  &.new
    overflow: hidden
    &:after
      content: 'NEW'
      font-family: "Roboto", sans-serif
      font-weight: 700
      background-color: $accent-red
      text-align: center
      color: #fff
      letter-spacing: 0.04em
      font-size: 18px
      width: 200px
      display: block
      padding: 30px 0 10px
      z-index: 2
      position: absolute
      transform: rotate(35deg)
      right: -80px
      top: -16px
      line-height: 1
